<h1 class="pet-index-header display-3 ">All Pets</h1>

<% if @pets %>
  <section class="pets-index">
    <% @pets.each do |pet| %>
      <pet class="pet-container">   
        <a class="" href="/pets/<%= pet.id %>">
          <%= image_tag pet.avatar.url(:square), class: "pet-img"%>
        </a>     
        <p class="pet-name">
          <%= link_to pet.name, pet_path(pet) %>
        </p>  
      </pet>
    <% end %>
  </section>
<% end %>
