.pet-list{
	padding-top: 5px;
}

.pet-list a{
	text-transform: capitalize;
}

.new-pet-button{
	margin-top: 30px;
}

.stats-list {
    background-color: #fff;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0px;
}

.list-headers{
	padding: 3px 0;
}